/* top bar configuration */

topbar-height = 2.4em
topbar-border = 1px
topbar-border-color = #2A2C30
topbar-bg-color = #202225
topbar-shadow-color = #323439

/* main color scheme */

base-fg-color = #ccc
sidebar-fg-color = #aaa
placeholder-fg-color = #aaa

sidebar-bg-color = #2F3136
topic-bg-color = #353940
buffer-bg-color = #35393F
input-bg-color = #474B53

hover-buffer-fg-color = #bbb
active-buffer-fg-color = #ddd
hover-buffer-bg-color = #353940
active-buffer-bg-color = #3C4148

scrollbar-track-color = sidebar-bg-color
scrollbar-thumb-color = #171B1D

/* IRC role color scheme */

role-symbol-color = white
role-none-color = #ccc
role-voice-color = #0099E0
role-halfop-color = role-none-color
role-op-color = role-none-color
role-admin-color = role-none-color
role-owner-color = role-none-color

/* spacing and sizing configuration */

input-area-padding = 1em
input-area-height = 4em

max-server-width = 10em
max-nickname-width = 8em

/* vars below this point should only be computed */
topbar-components = (topbar-height (2 * topbar-border))
