topbar-height = 2.4em
topbar-border = 1px
topbar-bg-color = #202225
topbar-shadow-color = #323439

sidebar-bg-color = #2F3136
topic-bg-color = #353940
buffer-bg-color = #35393F
input-bg-color = #474B53

input-area-padding = 1em
input-area-height = 4em

max-server-width = 10em
max-nickname-width = 8em

/* vars below this point should only be computed */
topbar-components = (topbar-height (2 * topbar-border))
